body{
    height: 5000px;
}

.up{
    position: fixed;
    bottom:10px;
    right:-30px;
    background-color: #ff5722;
    color:white;
    font-weight: bold;
    font-size: 12px;
    padding:5px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;
    transition: 0.2s;
}

.up.show {
    right: 10px;
}